.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  text-align: center;
  }

  .rectangle {
    height: 60px;
    width: 250px;
    margin: auto;
    text-align: center;
    padding: 10px;
  background: #333;
  
  border: 4px solid transparent;
  border-radius: 7px;
  font-size: 18px;
    font-weight: 100;
    color: #fff; 
 }

 .morespace{
   margin-top: 55px;
 }

 .some-grid-container{
  display: grid;
  grid-template-columns: auto;
}

.about{
  font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;

}

.about2 {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 12px;
}

.contacting {
  font-size: 15px;
  font-weight: 300;
  
  text-align: center;
  margin-bottom: 12px;
}
.c1{
  font-size: 25px;
  color: #bac964;
  font-weight: 200;
  
  text-align: center;
  margin-bottom: 12px;
}
.c2{
  font-size: 30px;
  font-weight: 300;
  
  text-align: center;
  margin-bottom: 12px;
}

.c3 {
  font-size: 15px;
  color: #bac964;
  font-weight: 600;
  

}

.c4 {
  font-size: 15px;
  color: #bac964;
  font-weight: 300;
  
}

.photo{
  height: 200px;
  width: 500px;
}

.l {
  height: 500px;
  width: 900px;
}

.z {
  height: 500px;
  width: 300px;
}

.main {
  height: 600px;
  width: 400px;
}


.carousel1 {
  font-size: 30px;
  color: #ffff;
  font-weight: 600;
}

.carousel2 {
  font-size: 18px;
  color: rgba(197, 197, 197, 0.548);
  font-weight: 300;
}